{% extends 'base.html.twig' %}

{% block content %}

<h1 class="text-center mt-2">Création d'un sondage</h1>
<div class="mt-5 mb-5 col-6 offset-3">
    {{ form_start(form) }}
        <div class="form-group">
            <label>Question</label>
            <div>{{ form_widget(form.question) }}</div>
        </div>

        </br>
        <div class="form-group">
            <label>Sondage public ?</label>
            <div><span>oui </span>{{ form_widget(form.public) }}</div>
        </div>

        </br>
        <div class="form-group">
            <label>option 1</label>
            <div>{{ form_widget(form.option1) }}</div>
        </div>
        <div class="form-group">
            <label>option 2</label>
            <div>{{ form_widget(form.option2) }}</div>
        </div>
        <div class="form-group">
            <label>option 3</label>
            <div>{{ form_widget(form.option3) }}</div>
        </div>
        <div class="form-group">
            <label>option 4</label>
            <div>{{ form_widget(form.option4) }}</div>
        </div>
        <div class="form-group">
            <label>option 5</label>
            <div>{{ form_widget(form.option5) }}</div>
        </div>

        <button class="btn bg-info" type="submit">Valider</button>
    {{ form_end(form) }}
</div>

{% endblock %}