{% extends 'base.html.twig' %}

{% block content %}

<div class="card mt-5 col-6 offset-3 shadow-lg bg-white rounded">
    <div class="card-body">
        <small class="text-secondary d-flex justify-content-end">crée par {{ poll.pseudo }}, le {{ poll.datetime | date }}</small>
        <h3 class="card-title mt-3">{{ poll.question }}</h3>
        <hr class="mt-3 mb-4" style="background-color:rgba(200,200,200,0.5);">
        <div class="card-text">
            {{ form_start(form) }}
                {% set i = 0 %}
                {% for child in form.choix %}
                    {% if child.vars.label == "null" %}
                        <div style="display:none;">
                            {{ form_widget(child, {'attr': {'class': 'radioButton'}}) }}
                            {{ form_label(child) }}
                        </div>
                    {% else %}
                        <div class="form-group" style="font-size:120%;">
                            {{ form_widget(child, {'attr': {'class': 'radioButton'}}) }}
                            {{ form_label(child) }}
                            <span class="ml-2">({{ res[i] }} votes)</span>
                        </div>
                    {% endif %}
                    {% set i = i + 1 %}
                {% endfor %}
                <button class="btn btn-info mt-4" type="submit">Voter</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}