{% extends 'base.html.twig' %}

{% block content %}

<h1 class="text-center mt-2">Inscription</h1>
<div class="mt-5 d-flex justify-content-center">
    {{ form_start(form) }}
        <div class="form-group">
            <label>Nouveau login</label>
            {{ form_errors(form.login) }}
            <div>
                {{ form_widget(form.login, {'attr': {'placeholder': 'login'}}) }}
            </div>
        </div>
        </br>
        <div class="form-group">
            <label>Nouveau mot de passe</label>
            {{ form_errors(form.password) }}
            <div>
                {{ form_widget(form.password, {'attr': {'placeholder': 'mot de passe'}}) }}
            </div>
        </div>
        </br>
        <div class="form-group">
            <label>Répéter le mot de passe</label>
            {{ form_errors(form.confirm_password) }}
            <div>
                {{ form_widget(form.confirm_password, {'attr': {'placeholder': 'mot de passe'}}) }}
            </div>
        </div>
        </br>
        <button class="btn btn-info" type="submit">Valider</button>
    {{ form_end(form) }}
</div>

{% endblock %}